# Table of Contents
    ## Grouping data
    ## Grouping data with pandas
    ## Aggregating data with agg()
    ## Aggregating data with transform()
    ## Deriving columns with loc()

# Grouping Data

## Set Up Notebook

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import os

In [3]:
#import necessary datasets
path = r'C:\Users\mmreg\OneDrive\Desktop\Data Analytics Course Work\Data Immersion\Tasks\04-2022 Instacart Basket Analysis'

In [5]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [6]:
#create test subset
df = ords_prods_merged[:1000000]

In [7]:
#verify df creation
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,both,Mid-Range Product,regularly busy,Average Orders
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-Range Product,regularly busy,Average Orders
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,regularly busy,Average Orders
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-Range Product,regularly busy,Average Orders
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-Range Product,regularly busy,Average Orders

# Grouping Data with pandas

In [8]:
#group product name column
df.groupby('product_name')

# Aggregating data with Agg()

In [9]:
#find mean of orders by department
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1.0              14.792915
2.0              17.091743
3.0              17.919589
4.0              17.891973
5.0              15.214270
6.0              15.382228
7.0              17.699986
8.0              16.485269
9.0              15.965921
10.0             20.091818
11.0             16.485395
12.0             15.615845
13.0             16.485052
14.0             17.523474
15.0             15.690354
16.0             18.014342
17.0             16.155822
18.0             19.606536
19.0             17.630236
20.0             17.138204
21.0             21.996844

In [10]:
#alternative way to do this
df.groupby('department_id')['order_number'].mean()

department_id
1.0     14.792915
2.0     17.091743
3.0     17.919589
4.0     17.891973
5.0     15.214270
6.0     15.382228
7.0     17.699986
8.0     16.485269
9.0     15.965921
10.0    20.091818
11.0    16.485395
12.0    15.615845
13.0    16.485052
14.0    17.523474
15.0    15.690354
16.0    18.014342
17.0    16.155822
18.0    19.606536
19.0    17.630236
20.0    17.138204
21.0    21.996844
Name: order_number, dtype: float64

In [11]:
#multiple aggregations
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1.0              14.792915   1  99
2.0              17.091743   1  98
3.0              17.919589   1  99
4.0              17.891973   1  99
5.0              15.214270   1  99
6.0              15.382228   1  99
7.0              17.699986   1  99
8.0              16.485269   1  91
9.0              15.965921   1  99
10.0             20.091818   1  99
11.0             16.485395   1  99
12.0             15.615845   1  99
13.0             16.485052   1  99
14.0             17.523474   1  99
15.0             15.690354   1  99
16.0             18.014342   1  99
17.0             16.155822   1  99
18.0             19.606536   1  99
19.0             17.630236   1  99
20.0             17.138204   1  99
21.0             21.996844   1  97

# Aggregating Data with Transform()

In [12]:
#run groupby steps
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merged.head(50)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,both,Mid-Range Product,regularly busy,Average Orders,10
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-Range Product,regularly busy,Average Orders,10
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,regularly busy,Average Orders,10
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-Range Product,regularly busy,Average Orders,10
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-Range Product,regularly busy,Average Orders,10
5,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77.0,7.0,9.0,both,Mid-Range Product,slowest days,Most Orders,10
6,2398795,1,prior,2,3,7,15.0,10258,2,0,Pistachios,117.0,19.0,3.0,both,Low-Range Product,slowest days,Most Orders,10
7,2398795,1,prior,2,3,7,15.0,12427,3,1,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,slowest days,Most Orders,10
8,2398795,1,prior,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-Range Product,slowest days,Most Orders,10
9,2398795,1,prior,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-Range Product,slowest days,Most Orders,10
10,2398795,1,prior,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-Range Product,slowest days,Most Orders,10
11,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77.0,7.0,9.0,both,Mid-Range Product,slowest days,Most Orders,10
12,473747,1,prior,3,3,12,21.0,12427,2,1,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,slowest days,Most Orders,10
13,473747,1,prior,3,3,12,21.0,10258,3,1,Pistachios,117.0,19.0,3.0,both,Low-Range Product,slowest days,Most Orders,10
14,473747,1,prior,3,3,12,21.0,25133,4,0,Organic String Cheese,21.0,16.0,8.6,both,Mid-Range Product,slowest days,Most Orders,10
15,473747,1,prior,3,3,12,21.0,30450,5,0,Creamy Almond Butter,88.0,13.0,3.2,both,Low-Range Product,slowest days,Most Orders,10
16,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77.0,7.0,9.0,both,Mid-Range Product,slowest days,Most Orders,10
17,2254736,1,prior,4,4,7,29.0,12427,2,1,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,slowest days,Most Orders,10
18,2254736,1,prior,4,4,7,29.0,10258,3,1,Pistachios,117.0,19.0,3.0,both,Low-Range Product,slowest days,Most Orders,10
19,2254736,1,prior,4,4,7,29.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,both,Mid-Range Product,slowest days,Most Orders,10
20,2254736,1,prior,4,4,7,29.0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-Range Product,slowest days,Most Orders,10
21,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77.0,7.0,9.0,both,Mid-Range Product,slowest days,Most Orders,10
22,431534,1,prior,5,4,15,28.0,12427,2,1,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,slowest days,Most Orders,10
23,431534,1,prior,5,4,15,28.0,10258,3,1,Pistachios,117.0,19.0,3.0,both,Low-Range Product,slowest days,Most Orders,10
24,431534,1,prior,5,4,15,28.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,both,Mid-Range Product,slowest days,Most Orders,10
25,431534,1,prior,5,4,15,28.0,10326,5,0,Organic Fuji Apples,24.0,4.0,2.7,both,Low-Range Product,slowest days,Most Orders,10
26,431534,1,prior,5,4,15,28.0,17122,6,0,Honeycrisp Apples,24.0,4.0,14.0,both,Mid-Range Product,slowest days,Most Orders,10
27,431534,1,prior,5,4,15,28.0,41787,7,0,Bartlett Pears,24.0,4.0,5.0,both,Low-Range Product,slowest days,Most Orders,10
28,431534,1,prior,5,4,15,28.0,13176,8,1,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-Range Product,slowest days,Most Orders,10
29,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77.0,7.0,9.0,both,Mid-Range Product,regularly busy,Most Orders,10
30,3367565,1,prior,6,2,7,19.0,12427,2,1,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,regularly busy,Most Orders,10
31,3367565,1,prior,6,2,7,19.0,10258,3,1,Pistachios,117.0,19.0,3.0,both,Low-Range Product,regularly busy,Most Orders,10
32,3367565,1,prior,6,2,7,19.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,both,Mid-Range Product,regularly busy,Most Orders,10
33,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77.0,7.0,9.0,both,Mid-Range Product,busiest days,Most Orders,10
34,550135,1,prior,7,1,9,20.0,10258,2,1,Pistachios,117.0,19.0,3.0,both,Low-Range Product,busiest days,Most Orders,10
35,550135,1,prior,7,1,9,20.0,12427,3,1,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,busiest days,Most Orders,10
36,550135,1,prior,7,1,9,20.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,both,Mid-Range Product,busiest days,Most Orders,10
37,550135,1,prior,7,1,9,20.0,13032,5,1,Cinnamon Toast Crunch,121.0,14.0,4.0,both,Low-Range Product,busiest days,Most Orders,10
38,3108588,1,prior,8,1,14,14.0,12427,1,1,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,busiest days,Most Orders,10
39,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77.0,7.0,9.0,both,Mid-Range Product,busiest days,Most Orders,10
40,3108588,1,prior,8,1,14,14.0,10258,3,1,Pistachios,117.0,19.0,3.0,both,Low-Range Product,busiest days,Most Orders,10
41,3108588,1,prior,8,1,14,14.0,25133,4,1,Organic String Cheese,21.0,16.0,8.6,both,Mid-Range Product,busiest days,Most Orders,10
42,3108588,1,prior,8,1,14,14.0,46149,5,0,Zero Calorie Cola,77.0,7.0,13.4,both,Mid-Range Product,busiest days,Most Orders,10
43,3108588,1,prior,8,1,14,14.0,49235,6,0,Organic Half & Half,53.0,16.0,1.8,both,Low-Range Product,busiest days,Most Orders,10
44,2295261,1,prior,9,1,16,0.0,49235,1,1,Organic Half & Half,53.0,16.0,1.8,both,Low-Range Product,busiest days,Most Orders,10
45,2295261,1,prior,9,1,16,0.0,46149,2,1,Zero Calorie Cola,77.0,7.0,13.4,both,Mid-Range Product,busiest days,Most Orders,10
46,2295261,1,prior,9,1,16,0.0,25133,3,1,Organic String Cheese,21.0,16.0,8.6,both,Mid-Range Product,busiest days,Most Orders,10
47,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77.0,7.0,9.0,both,Mid-Range Product,busiest days,Most Orders,10
48,2295261,1,prior,9,1,16,0.0,10258,5,1,Pistachios,117.0,19.0,3.0,both,Low-Range Product,busiest days,Most Orders,10
49,2295261,1,prior,9,1,16,0.0,12427,6,1,Original Beef Jerky,23.0,19.0,4.4,both,Low-Range Product,busiest days,Most Orders,10

# Deriving Columns with Loc()

In [16]:
#create column with criteria
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'

In [17]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [18]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [19]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular Customer    15891507
Loyal Customer      10294027
New Customer         6249525
Name: loyalty_flag, dtype: int64

In [20]:
#limit view to only essential columns
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New Customer             1
1         1      New Customer             1
2         1      New Customer             1
3         1      New Customer             1
4         1      New Customer             1
5         1      New Customer             2
6         1      New Customer             2
7         1      New Customer             2
8         1      New Customer             2
9         1      New Customer             2
10        1      New Customer             2
11        1      New Customer             3
12        1      New Customer             3
13        1      New Customer             3
14        1      New Customer             3
15        1      New Customer             3
16        1      New Customer             4
17        1      New Customer             4
18        1      New Customer             4
19        1      New Customer             4
20        1      New Customer             4
21        1      New Customer             5
22        1      New Customer             5
23        1      New Customer             5
24        1      New Customer             5
25        1      New Customer             5
26        1      New Customer             5
27        1      New Customer             5
28        1      New Customer             5
29        1      New Customer             6
30        1      New Customer             6
31        1      New Customer             6
32        1      New Customer             6
33        1      New Customer             7
34        1      New Customer             7
35        1      New Customer             7
36        1      New Customer             7
37        1      New Customer             7
38        1      New Customer             8
39        1      New Customer             8
40        1      New Customer             8
41        1      New Customer             8
42        1      New Customer             8
43        1      New Customer             8
44        1      New Customer             9
45        1      New Customer             9
46        1      New Customer             9
47        1      New Customer             9
48        1      New Customer             9
49        1      New Customer             9
50        1      New Customer            10
51        1      New Customer            10
52        1      New Customer            10
53        1      New Customer            10
54        1      New Customer            10
55        1      New Customer            10
56        1      New Customer            10
57        1      New Customer            10
58        1      New Customer            10
59        2  Regular Customer             1